p {
    margin: 0 auto 20px;
    
}
body{
    background-color:#d6d6d6;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    width: 580px;
    height: 330px;
}
.text{
    text-align: center;
}
h1{
    text-align: center;
}
.panel-inicio{
    background-color: #b1b9cc;
    padding: 20px;
    border-radius: 10px;
}
.container{
    text-align:center;
}
.imagen{
    text-align: center;
}
.logo {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.video-youtube,.imagen_favorita,.dibujo{
    width: 800px;
    height: 700px;
}

/* Estilo para la lista */
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}

/* Estilo para los enlaces */
a {
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.imagen-representativa,
.dibujo-propio{
    text-align: center;
}
.enlaces{
    text-align:center;
}
.iframe-container-j iframe {
    width: 780px;
    height: 450px;
}
/*------------------------------------------------------*/
/* css de curso.html */
/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Estilos para el contenedor de la barra de navegación */
  .container-navbar {
    background-color:#b1b9cc;
    padding: 10px;
  }

  /* Estilos para la barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  /* Estilos para la lista de enlaces */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Estilos para los enlaces */
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .navbar ul li a {
    color: rgb(2, 1, 1);
    text-decoration: none;
  }

  .navbar ul li a:hover {
    color: #ccc;
  }

  /* Estilos para el contenedor principal */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para el título del curso */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  /* Estilos para las secciones */
  section {
    margin-bottom: 20px;
  }

  /* Estilos para la descripción del curso */
  section.descripcion p {
    text-align: justify;
  }

  /* Estilos para la lista de objetivos del curso */
  section.objetivos ul {
    list-style-type: circle;
    padding-left: 20px;
  }

  /* Estilos para el plan de estudios */
  section.plan ul {
    list-style-type: none;
    padding-left: 20px;
  }

  section.plan ul li {
    margin-bottom: 5px;
  }

  section.plan ul li ul {
    list-style-type: disc;
    padding-left: 15px;
  }
  footer.pie-de-pagina {
    background-color:#b1b9cc; /* Change background color as needed */
    color: #000000; /* Change text color as needed */
    padding: 20px;
    text-align: center; /* Center the content */
    position: sticky; /* Make the footer sticky */
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Span the full width of the page */
    z-index: 100; /* Ensure it stays on top of other elements */
  }
  
  .pie-de-pagina .informacion-general,
  .pie-de-pagina .enlaces {
    display: inline-block; /* Allow for side-by-side positioning */
    margin-bottom: 10px; /* Add some spacing between sections */
  }
  
  .pie-de-pagina .informacion-general h5 {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 10px; /* Add some spacing below the heading */
  }
  
  .pie-de-pagina .enlaces a {
    color: inherit; /* Inherit text color from footer */
    text-decoration: none; /* Remove default underline */
  }
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
  }
  