html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    width: 450px;
}

ul.cloud a {
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud a:focus {
    outline: 1px dashed;
}

ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
    width: 100%;
}

@media (prefers-reduced-motion) {
    ul.cloud * {
        transition: none !important;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  footer.pie-de-pagina {
    background-color:#b1b9cc; /* Change background color as needed */
    color: #000000; /* Change text color as needed */
    padding: 20px;
    text-align: center; /* Center the content */
    position: sticky; /* Make the footer sticky */
    bottom: 0; /* Position it at the bottom of the page */
    width: 100%; /* Span the full width of the page */
    z-index: 100; /* Ensure it stays on top of other elements */
  }
  
  .pie-de-pagina .informacion-general,
  .pie-de-pagina .enlaces {
    display: inline-block; /* Allow for side-by-side positioning */
    margin-bottom: 10px; /* Add some spacing between sections */
  }
  
  .pie-de-pagina .informacion-general h5 {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 10px; /* Add some spacing below the heading */
  }
  
  .pie-de-pagina .enlaces a {
    color: inherit; /* Inherit text color from footer */
    text-decoration: none; /* Remove default underline */
  }
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
  }
  